table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.6em;
  text-align: left;
}

th {
  background: #222;
  color: white;
}
